.container-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.label-wrapper .label-text {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.label-wrapper .error-text {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.img-wrapper {
  height: 150px;
  width: 100%;
  margin: 10px 0;
}

.container {
  display: flex;
  align-items: 'center';
  justify-content: 'center';
  height: 100px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 1px;
  border-color: 'grey';
}

.image {
  height: 100px;
}

.valueContainer {
  align-items: 'center';
  justify-content: 'center';
  display: flex;
  width: 100%;
  background-color: red;
  flex-direction: row;
}

.iconStyle {
  font-family: 'roboto';
  align-self: 'flex-end';
  margin-right: 5px;
}

.moreIconContainer {
  position: 'absolute';
  width: 55px;
  height: 40px;
  align-items: 'center';
  justify-content: 'center';
  right: 0px;
  top: 30px;
  border-radius: 20px;
  background-color: 'transparent';
}

.image-data-wrapper {
  width: 100%;
  padding: 0 10px;
  border: 1px solid #979797;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.image-data-wrapper .image-input-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-data-wrapper .image-input-wrapper h6 {
  font-size: 16px;
  margin: 0;
  font-weight: initial;
}

.image-data-wrapper .image-input-wrapper .file-input {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.image-data-wrapper .image-input-wrapper .file-custom {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
