.sig-root {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.sig-label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.sig-label-wrapper .sig-label-text {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.sig-label-wrapper .sig-label-text p {
  font-size: 16px;
  margin: 0;
}

.sig-label-wrapper .error-text {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.sig-label-wrapper .error-text p {
  color: red;
  font-size: 12px;
  margin: 0px;
}

.sig-content-wrapper {
  display: flex;
  height: 45px;
  margin-bottom: 5px;
}

.sig-data-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: 1px solid #979797;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sig-data-wrapper p {
  margin: 0;
}

.sig-data-wrapper i {
  font-size: 16px;
  padding-left: 10px;
}
