.options-wrapper {
  border: 1px solid #979797;
  border-radius: 5px;
  padding: 5px 5px 0 5px;
  width: 100%;
}

.options-wrapper .value-wrapper .option-label {
  padding-left: 5px;
  font-size: 16px;
}
.value-wrapper{
  display: flex;
  align-items: flex-start;
}

.option-label{
  margin-top: -0.5%;
}