.otp-input {
  flex-grow: 1;
  border: 1px solid #979797;
  border-radius: 5px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  height: 100%;
}

input{
width: '100%';
border: '1px solid #979797';
border-radius: 16px;
padding: 5;
font-size: 16;
outline: 'none';
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

