.lookup-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.lookup-content-wrapper {
  display: flex;
  height: 45px;
}

.lookup-data-wrapper {
  width: 100%;
  padding: 0 10px;
  border: 1px solid #979797;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.lookup-data-wrapper p {
  margin: 0;
}

.lookup-data-wrapper .value-icon-wrapper {
  display: flex;
  align-items: center;
}

.lookup-data-wrapper .value-icon-wrapper h6 {
  font-size: 16px;
  margin: 0;
  font-weight: initial;
}

.lookup-data-wrapper .value-icon-wrapper i {
  font-size: 16px;
  padding-left: 10px;
}

.label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.label-wrapper .label-text {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.label-wrapper .label-text p {
  font-size: 20px;
  margin: 0;
}

.label-wrapper .error-text {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.label-wrapper .error-text p {
  color: red;
  font-size: 12px;
  margin: 0px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
