.formo-text {
  -moz-appearance: textfield;
}

.formo-text::-webkit-outer-spin-button,
.formo-text::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-container{
  display: flex;
  justify-content: flex-end;

}