.lookup-wrapper {
  display: flex;
}

.lookup-data-wrapper {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border: 1px solid #979797;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.lookup-data-wrapper p {
  margin: 0;
}
.lookup-data-wrapper .value-icon-wrapper {
  display: flex;
  align-items: center;
}
.lookup-data-wrapper .value-icon-wrapper h6 {
  font-size: 16px;
  margin: 0;
  font-weight: initial;
}

.lookup-data-wrapper .value-icon-wrapper i {
  font-size: 16px;
  padding-left: 10px;
}

.lookup-options-wrapper {
  width: 50%;
  min-height: 50%;
  height: 80%;
  overflow-y: auto;
  padding: 10px 10px 0 10px;
  background-color: #e5eaef;
  border-radius: 3px;
}
.lookup-options-value {
  height: 45px;
  padding-left: 5px;
  margin-bottom: 10px;
  border: 1px solid #979797;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  width: 70%;
  min-height: 50%;
  max-height: 80%;
  overflow-y: auto;
  padding: 10px 10px 0 10px;
  background-color: #e5eaef;
  border-radius: 3px;
}

.modal:focus {
  outline: none;
}
